<div *ngIf="note">
    <h2>{{note.title|uppercase}} details!</h2>
    <div><label>id: </label>{{note._id}}</div>
    <div>
        <label>name: </label>
        <input [(ngModel)]="note.title" placeholder="name" class="form-control"/>
         <textarea [(ngModel)]="note.content" placeholder="content" class="form-control"></textarea>
    </div>
    <button (click)="goBack()" class="btn">Back</button>
    <button (click)="save()" class="btn">Update</button>
     <button (click)="delete()" class="btn">Delete</button>
</div>